<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>savemo Finance Manager</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/letter-m-icon-png-3.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="body">
  <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:savemo.official@gmail.com">savemo.official@gmail.com</a>
        <i class="fa fa-phone"></i> +6019-999 9999
      </div>
      <div class="social-links float-right">
        <a href="https://www.facebook.com/sgag.sg/" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://www.facebook.com/groups/umalaya2u/" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="https://www.facebook.com/groups/umalaya2u/" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="https://www.facebook.com/groups/umalaya2u/" class="google-plus"><i class="fa fa-google-plus"></i></a>
        <a href="https://www.facebook.com/groups/umalaya2u/" class="linkedin"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="/">save<span>mo</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#body">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="/sign_in">Sign In</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-content">
      <h2>Manage <span>your finances</span><br>wisely!</h2>
      <div>
        
        <a href="#portfolio" class="btn-projects scrollto">Get Started</a>
      </div>
    </div>

    <div id="intro-carousel" class="owl-carousel" >
      <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/2.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/3.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/4.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/5.jpg');"></div>
    </div>

  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="img/photo-1521995897-1fbc7512c090.jpg" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>Want to travel the world? <br>Or buy a house? <br>We'll help you.</h2>
            <h3><span>save</span><a>mo</a> is your personalised finance manager, dedicated to helping you plan your financial goals. And achieve them.</h3>

            <ul>
              <li><i class="ion-android-checkmark-circle"></i> Set monthly income and budget.</li>
              <li><i class="ion-android-checkmark-circle"></i> Personalise your finance goals.</li>
              <li><i class="ion-android-checkmark-circle"></i> Summarise monthly expenses.</li>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Services</h2>
          <p>We provide a range of services that is tailored to your specific needs.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="/sign_in">Expenses Summary</a></h4>
              <p class="description">Explains your monthly expenses into a chart for easy understanding.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><i class="fa fa-list"></i></div>
              <h4 class="title"><a href="/sign_in">Finance Goals</a></h4>
              <p class="description">Have a set of financial goals but don't know how to achieve them? Let us help.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-dollar"></i></div>
              <h4 class="title"><a href="/sign_in">Daily Budget</a></h4>
              <p class="description">Know how much you're spending each day, and manage your daily spending better.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-info"></i></div>
              <h4 class="title"><a href="/sign_in">Personalised Advice</a></h4>
              <p class="description">Let our team of experts advise you on how to manage your money wisely.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    
    

    <!--==========================
      Our Team Section
    ============================-->
    <section id="team" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Our Team</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="img/25659520_1674726595883556_5372526255218488326_n.jpg" alt="Low Jie Fong"></div>
              <div class="details">
                <h4>Low Jie Fong</h4>
                <span>Chief Executive Officer</span>
                <div class="social">
                  <a href="https://www.facebook.com/jiefong"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com/jiefong"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.facebook.com/jiefong"><i class="fa fa-google-plus"></i></a>
                  <a href="https://www.facebook.com/jiefong"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="img/20525534_1405468049538845_631240676459578933_n.jpg" alt="Bruce Voon Shun Jie"></div>
              <div class="details">
                <h4>Bruce Voon</h4>
                <span>Product Manager</span>
                <div class="social">
                  <a href="https://www.facebook.com/bruce.master90"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com/bruce.master90"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.facebook.com/bruce.master90"><i class="fa fa-google-plus"></i></a>
                  <a href="https://www.facebook.com/bruce.master90"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="img/15135982_1537824146244422_7389620078505541986_n.jpg" alt="Wilson Tan Wei Hian"></div>
              <div class="details">
                <h4>Wilson Tan</h4>
                <span>CTO</span>
                <div class="social">
                  <a href="https://www.facebook.com/wilson.tan.52459"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com/wilson.tan.52459"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.facebook.com/wilson.tan.52459"><i class="fa fa-google-plus"></i></a>
                  <a href="https://www.facebook.com/wilson.tan.52459"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="img/30226864_1914678545232705_7779937123280355328_n.jpg" alt="Lim Zi-Liang"></div>
              <div class="details">
                <h4>Lim Zi-Liang</h4>
                <span>Accountant</span>
                <div class="social">
                  <a href="https://www.facebook.com/mymgag/"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com/mymgag/"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.facebook.com/mymgag/"><i class="fa fa-google-plus"></i></a>
                  <a href="https://www.facebook.com/mymgag/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Contact Us</h2>
          <p>Have a question or want to make an appointment to meet with our expert? Let us know!</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>K11J, Tiara Damansara, Jalan 17/1, Petaling Jaya</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+60199999999">+6019-999 9999</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:savemo.official@gmail.com">savemo.official@gmail.com</a></p>
            </div>
          </div>

        </div>
      </div>

      

      <div class="container">
        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="/message" method="POST" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="realname" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>
  <%include partial/footer %>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
