<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>savemo Manage</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/letter-m-icon-png-3.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- Sign In Stylesheet File -->
    <link href="css/stylemanage.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Reveal
      Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>
<body id="body">
<%include partial/header %>
<br>
<div class="container wow fadeIn">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 lead"><h3><strong>Edit Expenses</strong></h3><hr></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container" id="contact" style="border:1px solid #000000; padding:10px; margin-bottom:50px;">
        <form action="/teupdate" method="POST" role="form" class="contactForm">    
                <div class="row">
                    <div class="form-group col-md-6">
                        <select class="form-control" name="categories" id="categories" >
                            <option value=""><%= tran.categories%></option>
                            <option value="Food">Food</option>
                            <option value="Social Life">Social Life</option>
                            <option value="Transportation">Transportation</option>
                            <option value="Education">Education</option>
                            <option value="Other">Other</option>
                        </select>
                        <div class="validation"></div>
                    </div>
                </div>
                <% console.log(tran)%>
                <% var dt = new Date(tran.date,"YYYY-MM-DD")%>
                <% console.log(dt)%>
                <div class="row">
                    <div class="form-group col-md-6">
                        <input type="date" class="form-control" name="date" id="date" value=<%= tran.date%> data-rule="required" data-msg="Please choose a date">
                        <div class="validation"  style="color:red"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <input type="number" step = "0.01" class="form-control" name="amount" id="amount" placeholder="<%= tran.amount %>">
                        <div class="validation"  style="color:red"></div>
                    </div>
                </div>
                <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="remark" name="remarks" placeholder="<%= tran.remarks%>">
                        </div>
                </div>
                <div class="row ">
                    <div class="col-md-3 text-center"><button type="submit" class="btn text-center" name="id" value=<%= theId%>>Update</button></div>
                    <div class="col-md-3 text-center"><button type="submit" formaction="/back" class="btn text-center" name="back">Back</button><br></div>
                </div>
            <br><br>
        </form>
</div>

<%include partial/footer %>


<!-- Template Main Javascript File -->
<script src="js/main.js"></script>
<script src="contactform/contactform.js"></script>
<!-- <script src="js/tablengraph.js"></script> old one-->
<script src="js/tableonly.js"></script>


</body>
</html>