<!DOCTYPE html>
<html lang="en">
<head>
    <title>savemo Manage</title>

    <!-- Sign In Stylesheet File -->
    <link href="css/stylemanage.css" rel="stylesheet">

</head>
<body id="body">
<%include partial/header %>
<br>
<div class="container wow fadeIn">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 lead"><h3><strong>Manage Expenses</strong></h3><hr></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container" id="contact" style="border:1px solid #000000; padding:10px; margin-bottom:50px;">
        <form action="/tsave" method="POST" role="form" class="contactForm">    
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <select class="form-control" name="categories" id="categories" >
                            <option value="">Select your categories</option>
                            <option value="Food">Food</option>
                            <option value="Social Life">Social Life</option>
                            <option value="Transportation">Transportation</option>
                            <option value="Education">Education</option>
                            <option value="Other">Other</option>
                        </select>
                        <div class="validation"></div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="date" class="form-control" name="date" id="date" placeholder="Your date" data-rule="required" data-msg="Please choose a date">
                        <div class="validation" style="color:red"></div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="number" step = "0.01" class="form-control" name="amount" id="amount" placeholder="Enter your amount" data-rule="required" data-msg="Please enter an amount">
                        <div class="validation" style="color:red"></div>
                    </div>
                </div>
                <div class="col">
                        <div class="form-group">
                            <input type="text" class="form-control" id="remark" name="remarks" placeholder="Remark">
                        </div>
                </div>
                <div class="col">
                    <button type="submit" class="btn">Add</button>   
                </div>
            </div>
        </form>

        <div class="container table-responsive">
            <table id="mytable" class="table table-stripped">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Categories</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Remark</th>
                        <th></th>
                    </tr>
                </thead>
                <% var i = 1; %>
                <% transArr.forEach(function(trans){ %>
                    <tr id = trans._id>
                        <td><%= i %></td>
                        <td><%= trans.categories%></td>
                        <td><%= trans.date%></td>
                        <td>RM <%= trans.amount%></td>
                        <td><%= trans.remarks%></td>
                        <td><form action="" method="post">
                            <button formaction="/tedit" type="submit" class="btn" name="id" value=<%= trans.id%>>
                                Edit
                            </button>
                            <button formaction="/tdelete" type="submit" class="btn" name="id" value=<%= trans.id%>>
                                Delete
                            </button>
                        </form>
                        </td>
                    </tr>
                <% i++; %>
                <% }) %>
            </table>
        </div>
    </div>


<%include partial/footer %>


<!-- Template Main Javascript File -->
<script src="js/main.js"></script>
<script src="contactform/contactform.js"></script>
<!-- <script src="js/tablengraph.js"></script> old one-->
<script src="js/tableonly.js"></script>


</body>
</html>