<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>savemo Profile</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/letter-m-icon-png-3.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- Sign In Stylesheet File -->
    <link href="css/styleprofile.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Reveal
      Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>
<body id="body">
<%include partial/header %>
<br>
<div class="container wow fadeInLeft">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 lead"><h3><strong>User profile</strong></h3><hr></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img class="img-circle avatar avatar-original" style="-webkit-user-select:none;
              display:block; margin:auto;" src="http://robohash.org/sitsequiquia.png?size=120x120">
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="only-bottom-margin"><%= nameVar%></h1>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="container">
                                                    <span class="text-muted">Username:</span><br>
                                                    <span class="text-muted">Email:</span><br>
                                                    <span class="text-muted">Age:</span><br>
                                                    <span class="text-muted">Budget:</span><br>
                                                    <span class="text-muted">Target:</span><br>
                                                </div>
                                                </div>
                                            <div class="col-xs-6">
                                                <div class="container">
                                                    <div id="username"><%= usernameVar%></div>
                                                    <div id="userprofile"><%= emailVar%></div>
                                                    <div id="userage"><%= ageVar%></div>
                                                    <div id="userbudget"><%= budgetVar%></div>
                                                    <div id="userbudget"><%= targetVar%></div>

                                                </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Trigger/Open The Modal -->
                            <hr><button id="logoutBtn" class="btn btn-default pull-right" type="submit" onclick=window.location.href="/sign_in"><i class="glyphicon glyphicon-pencil"></i> Logout</button>
                            <button id="myBtn" class="btn btn-default pull-right" type="submit"><i class="glyphicon glyphicon-pencil"></i> Edit</button>

                        </div><br>

                        <!-- The Modal -->
                        <div id="myModal" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2><span>Update</span> Profile</h2>
                                    <span class="close">&times;</span>
                                </div>
                                <div class="modal-body">
                                    <div class="centerform">
                                        <div class="form">
                                            <form action="/edit" method="POST" role="form" class="contactForm">
                                                <div class="centerform">
                                                <div class="form-row">
                                                    <div class="form-group col-md-12">
                                                        <span>Name:</span><input type="text" name="editname" class="form-control" id="name" placeholder="<%=nameVar%>" data-rule= "minlen:6" data-msg="Please enter at least 6 chars" />
                                                        <div class="validation"></div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <span>Email:</span><input type="email" name="email" class="form-control" id="email" placeholder="<%=emailVar%>" data-rule="email" data-msg="Please enter a valid email" />
                                                        <div class="validation"></div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <span>Age:</span><input type="number" name="age" class="form-control" id="age" placeholder="<%= ageVar%>" data-rule="required" data-msg="Please enter correct input" />
                                                        <div class="validation"></div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <span>Budget:</span><input type="number" name="budget" class="form-control" id="budget" placeholder="<%= budgetVar%>" min="500" data-msg="Please enter correct input"/>
                                                        <div class="validation"></div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <span>Target:</span><input type="number" name="target" class="form-control" id="target" placeholder="<%= targetVar%>" min="500" data-msg="Please enter correct input"/>
                                                        <div class="validation"></div>
                                                    </div>
                                                </div>
                                                <div class="text-center"><button type="submit">Update</button></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <br><br>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%include partial/footer %>


<!-- Template Main Javascript File -->
<script src="js/main.js"></script>
<script src="js/profilescript.js"></script>

</body>
</html>