<!DOCTYPE html>
<html lang="en">
<head>
    <title>savemo Profile</title>
</head>
<body id="body">
<%include partial/header %>
<!--==========================
      Account Summary Section
    ============================-->
<!--this is the username-->
<br>
<div class="container wow fadeIn">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body" style="margin-bottom:50px;">
                    <div class="row">
                        <div class="col-md-12 lead"><h1><strong>Welcome Back <%=nameVar%></strong></h1></div>
                        <div class="col-md-12 lead"><h3><strong>Account Summary</strong></h3><hr></div>
                    </div>
                    <%var expenses=0%>
                    <%transArr.forEach(function(trans){%>
                    <%expenses = expenses + trans.amount%>
                    <%});%>
                    <table id="sum" style="margin-top:20px; margin-bottom:50px;">
                        <tr>
                            <th>Budget</th>
                            <th>Saving Target</th>
                            <th>Expenses</th>
                        </tr>
                        <tr>
                          <td style="color: blue"><%= budgetVar%></td>
                            <td style="color: blue"><%= targetVar%></td>
                            <td style="color: red"><%= expenses%></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==========================
      Services Section
    ============================-->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12 lead"><h3><strong>Services</strong></h3><hr></div>
        </div>
        <!--div class="section-header">
            <h2>Services</h2>
        </div-->

        <div class="row">

            <div class="col-lg-6">
                <div class="box wow fadeInLeft">
                    <div class="icon"><i class="fa fa-bar-chart"></i></div>
                    <h4 class="title"><a href="/report">Expenses Summary</a></h4>
                    <p class="description">Explains your monthly expenses into a chart for easy understanding.</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInRight">
                    <div class="icon"><i class="fa fa-list"></i></div>
                    <h4 class="title"><a href="">Finance Goals</a></h4>
                    <p class="description">Have a set of financial goals but don't know how to achieve them? Let us help.</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="icon"><i class="fa fa-dollar"></i></div>
                    <h4 class="title"><a href="/manage"></a>Daily Budget</h4>
                    <p class="description">Know how much you're spending each day, and manage your daily spending better.</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInRight" data-wow-delay="0.2s">
                    <div class="icon"><i class="fa fa-info"></i></div>
                    <h4 class="title"><a href="">Personalised Advice</a></h4>
                    <p class="description">Let our team of experts advise you on how to manage your money wisely.</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- #services -->
<%include partial/footer %>

<!-- Template Main Javascript File -->
<script src="js/main.js"></script>

</body>
</html>