<!DOCTYPE html>
<html lang="en">
<head>
    <title>savemo Report</title>
</head>
<body id="body">
<%include partial/header %>

<br>
<div class="container wow fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 lead"><h3><strong>Expenses Summary</strong></h3><hr></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container ">
    <div class="container" style="border:1px solid #000000; padding:10px; margin-bottom:50px;">
        <div class="row">
            <div class="col-md-6">
                    <%var expenses=0%>
                    <%transArr.forEach(function(trans){%>
                    <%expenses = expenses + trans.amount%>
                    <%});%>
                <div>
                    <h4 style="padding: 10px; margin: 10px;" id="total"><strong>Total expenses : <%= expenses%></strong></h4>
                    <h4 style="padding: 10px; margin: 10px;"><strong>Remaining budget : <%= budgetVar - targetVar - expenses%></strong></h4>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-8">
        <div id="daily_chart" style="min-width:100%;min-height:400px;display:block;" ></div>
    </div> -->     
</div>
<!-- 
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Generate bar chart</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#" onclick="drawDaily(dataArr)">Daily</a>
                    <a class="dropdown-item" href="#" onclick="">Monthly</a>
                    <a class="dropdown-item" href="#" onclick="">Yearly</a>
                </div>
            </div>
        </div>
    </div>
</div>                     -->
<div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                                <form action="/rshow" method="post">
                                    <input type="date" class="form-control" name="date" id="date" placeholder="your date">
                                    <br>
                                    <button type="submit" class="btn" name="id">
                                        Generate
                                    </button>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% console.log(dataArr); %>
<div class="container wow fadeInRight">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <!-- <div id="chart_div"  style="min-width:100%;min-height:400px;display:block;"></div> -->
            <div id="daily_chart" style="min-width:100%;
                                        min-height:500px;
                                        display:block;
                                        font-size: 30px;" >
            </div>
            <div id="noDisplay" style="display: none;"><%= dataArr%></div>
            <div id="noDisplay2" style="display: none;"><%= dataDate%></div>
        </div>
    </div>
</div>

<%include partial/footer %>


<!-- Template Main Javascript File -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="js/main.js"></script>
<script src="js/graphonly.js"></script>

</body>
</html>