<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sign In</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/letter-m-icon-png-3.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- Sign In Stylesheet File -->
    <link href="css/stylesignin.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Reveal
      Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body id="body">
<!--==========================
  Top Bar
============================-->
<section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
        <div class="contact-info float-left">
            <i class="fa fa-envelope-o"></i> <a href="mailto:savemo.official@gmail.com">savemo.official@gmail.com</a>
            <i class="fa fa-phone"></i> +6019-999 9999
        </div>
        <div class="social-links float-right">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
</section>

<!--==========================
  Header
============================-->
<header id="header">
    <div class="container">
        <div id="logo" class="pull-left">
            <h1><a href="/">save<span>mo</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="/">Home</a></li>
                <li class="menu-active"><a href="/sign_in">Sign In</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<!--==========================
      Sign In
    ============================-->
<section>
<div class="container" id="contact">
    <div class="row">
    <div class="col-lg-6 wow fadeInLeft">
        <div class="container">
            <div class="form">
                <h3>Sign In</h3>
                <br><br>
                <form action="/login" method="POST" role="form" class="contactForm">
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <input type="text" name="username" class="form-control" id="username" placeholder="Username" data-rule="minlen:6" data-msg="Please enter a valid username" />
                            <div class="validation"></div>
                        </div><br>
                        <div class="form-group col-md-8">
                            <input type="password" name="password" class="form-control" id="password" placeholder="Password" data-rule="minlen:8" data-msg="Please enter a valid password" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-md-8">
                            <a href="#" id="forget" >Forget username or password?</a>
                        </div>
                    </div>

                    <div class="text-center"><button type="submit">Sign In</button></div><br><br>
                </form>
            </div>
        </div>
    </div>

<!-- #Sign In Column -->

    <!--==========================
      Register Column
    ============================-->

    <div class="col-lg-6 wow fadeInRight">
            <div class="form">
                <div class="container">
                    <h3>Not a member? Register Now!</h3>
                    <br><br>
                    <form action="/register" method="POST" role="form" class="contactForm">
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <input type="text" name="username" class="form-control" id="registerusername" placeholder="Username" data-rule="minlen:6" data-msg="Please enter at least 6 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-8">
                                <input type="password" name="password" class="form-control" id="registerpassword" placeholder="Password" data-rule="minlen:8" data-msg="Please enter at least 8 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-8">
                                <input type="password" name="password_2" class="form-control" id="registerpassword2" placeholder="Retype password" data-rule="minlen:8" data-msg="Please enter at least 8 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-8">
                                <input type="text" name="realname" class="form-control" id="name" placeholder="Your Name" data-rule="required" data-msg="Please enter your name" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-8">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-8">
                                <input type="number" class="form-control" name="age" id="age" placeholder="Your Age" data-rule="required" data-msg="Please enter your age" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-8">
                                <input type="number" class="form-control" name="budget" id="budget" placeholder="Your Budget Per Month" data-rule="required" data-msg="Please enter your budget" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-8">
                                <input type="number" class="form-control" name="target" id="target" placeholder="Your Target Saving Per Month" data-rule="required" data-msg="Please enter your budget" />
                                <div class="validation"></div>
                            </div>
                        </div>

                        <div class="text-center"><button type="submit">Register</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h2><span>User</span> Recovery</h2>
            <span class="close">&times;</span>
        </div>
        <div class="text-center">
            <br><p>1) Enter your registered email and submit<br>
                2) Check your email</p>
        </div>
        <div class="modal-body">
            <div class="centerform">
                <div class="form">
                    <form action="/forgetusername" method="POST" role="form" class="contactForm">
                        <div class="centerform">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <input type="email" name="email" class="form-control" id="forgetemail" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="text-center"><button type="submit">Submit</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <br><br>
        </div>
    </div>

</div>

</main>
<%include partial/footer %>
<!-- Contact Form JavaScript File -->
<script src="contactform/contactform.js"></script>
<!-- Template Main Javascript File -->
<script src="js/main.js"></script>
<script src="js/signin.js"></script>

</body>
</html>
